/* Le code CSS de la démo */
.container {
	margin: 2em auto;
}
article {
	margin: 2em 0;
}

/* Position */
.sticky {
    position: sticky;
    top: 0;
    background-color: #f9c;
}

.static {
    position: static;
    left: -5em;
    background-color: #9c6;
}

.relative {
    position: relative;
    left: -10rem;
    top: -4rem;
    background-color: #fc3;
}

.absolute-parent {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
	padding: 2em;
	background-color: #f93;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 20em;
	background-color:  #69c;
}


