.solid {
    border-color: blue;
    border-width: 2px;
    border-style: solid;
}
.dotted {
    border: dotted 5px #ff0000;
}
.dashed {
    border: dashed 5px green;
}
.double {
    border: double 5px #ff69b4;
}

/* bordure sur un seul côté : border-left, border-right; border-top ou border-bottom */

.left {
    border-left: solid orange 5px;
}


.rond {
    border: solid salmon 3px;
    border-radius: 10px;
}

.img-border {
    border-radius: 50%;
}
